/*BLUES*/

/*navy*/
color: rgb(13,103,151);
/*seafoam*/
color: rgb(91,216,206);
/*PINKS*/
color: rgb(254,229,211);
color: rgb(255,212,212);
color: rgb(215,66,82);
color: rgb(246,111,103);
color: rgb(209,116,91);
	